<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<main>
    {{ content }}
</main>
{% include footer.html %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Person",
    "url": "https://pieceopiland.github.io",
    "image": "https://pieceopiland.github.io/assets/img/profile.png",
    "name": "Nolan Piland",
    "alumniOf": "North Carolina State University",
    "gender": "male",
    "jobTitle": "Software Developer",
    "sameAs": ["https://www.instagram.com/piece_o_piland/?hl=en"],
    "description": "Nolan Piland is a software developer. He's currently seeking out hobbies to keep himself busy, as well as happy!"
}
</script>
</body>
</html>